* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Các class css của Header.js */
.header {
  min-height: 60px;
  line-height: 60px;
  background-color: #E8F8EC;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-item a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 0 10px;
}

.active-header {
  background-color: #57de57;
}

/* Hết */


/* Các class css của Content.js */
.content {
  margin: 110px 0;
}

.category {
  display: flex;
  margin-bottom: 20px;
}

.btn-category {
  border: transparent;
  margin-right: 12px;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
}

.btn-category:hover {
  background-color: rgb(224, 215, 215);
}

.active-category {
  border-bottom: 1px solid gray;
}

.house-item {
  margin-bottom: 20px;
  padding: 12px 0;
}

.house-item a {
  color: black;
  text-decoration: none;
}

.house-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.house-img {
  margin-bottom: 8px;
}

.house-name {
  font-size: 20px;
  font-weight: 700;
}

/* Hết */

/* Các class css của Detail.js */
.detail {
  margin: 110px 0;
  display: flex;
  justify-content: space-between;
}

.house-detail {
  flex-basis: 65%;
}

.house-detail-name {
  margin-top: 12px;
}

.infor-host {
  flex-basis: 30%;
  background-color: #febb02;
  max-height: 364px;
  display: flex;
  justify-content: center;
}

.infor-host img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.infor-host-item {
  text-align: center;
  margin-top: 12px;
  color: white;
}

.infor-host-item p {
  font-size: 16px;
  font-weight: 600;
}

.infor-host-item i {
  margin-right: 8px;
}

/* Hết */

/* Login */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #e8f8ec, #57de57, #2f9831, #147129);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #e8f8ec, #57de57, #2f9831, #147129);
}

.login-form{
  margin-top: 200px;
}

.signup-form{
  margin-top: 120px;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

/* Các class css của Content.js */
.post {
  margin: 110px 0;
}
.create {
  padding: 8px;
  background-color: #E8F8EC;
  border-color: transparent;
  margin-bottom: 12px;
  border-radius: 8px;
}
.create:hover {
    background-color: rgb(199, 191, 191);
    color: white;
}

.btn-create {
  background-color: rgb(10, 228, 10);
  color: white;
  padding: 8px;
  border-radius: 8px;
  border-color: transparent;
}

.btn-cancel {
  cursor: pointer;
}

.modal-house {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-house.open {
  display: flex;
}

.modal-container-house {
  width: 650px;
  min-height: 200px;
  background-color: #fff;
  position: relative;
  max-width: calc(100% - 32px);
  animation: modalFadeIn ease 0.5s;
  background-color: #fff;
  padding: 12px 20px;
}

.modal-house-title {
  border-bottom: 1px solid  rgb(186, 183, 183);
  margin-bottom: 12px;
  width: 100%;
}

.input {
  margin-bottom: 8px;
}

.modal-container-house input {
  width: 100%;
  border: 1px solid rgb(210, 205, 205);
  padding: 4px 0;
}

.input-image {
  margin-bottom: 14px;
}

.select {
  display: flex;
  justify-content: space-between;
}

/* Hết */


/* Các class css của Footer.js */
.footer {
  border-top: 1px solid gray;
  padding: 12px 0;
}
/* Hết */