* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content, .detail, .post, .edit-post {
  margin: 80px 0;
}

/* Các class css của Header.js */
.header {
  min-height: 60px;
  line-height: 60px;
  background-color: #E8F8EC;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header-post-span {
  position: relative;
}

.header-quantity {
  position: absolute;
  background-color: rgb(255, 0, 85);
  font-size: 12px;
  border-radius: 50%;
  right: -8px;
  bottom: 60%;
  color: white;
  width: 12px;
  text-align: center;
  padding-left: 1px;
}

.header-dropdown {
  display: flex;
  margin-left: 8px;
}

/* Hết */


/* Các class css của Content.js */

.content-header {
  display: flex;
  margin: 10% 0 5% 0 ;
  justify-content: space-around;
}

.search-price, .search-area {
  align-self: center;
}

.btn-category {
  border: transparent;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: transparent;
}

.btn-category:hover {
  background-color: rgb(224, 215, 215);
}

.active-category {
  border-bottom: 1px solid gray;
}

.house-item {
  margin-bottom: 20px;
  padding: 12px 0;
  color: rgb(134, 123, 123);
}

.house-item a {
  color: black;
  text-decoration: none;
}

.house-item:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

.house-img {
  margin-bottom: 8px;
}

.house-name {
  font-size: 20px;
  font-weight: 700;
}


.house i {
  margin-right: 8px;
}


/* Hết */

/* Các class css của Detail.js */


.detail img {
  width: 100%;
  height: 500px;
  min-height: 200px;
}

.detail-title .title-text {
  margin-top: 20px;
  font-size: 45px;
  font-weight: 600;
}

.detail-address i {
  margin-right: 8px;
  color: rgb(39, 211, 211)
}

.detail-address span {
  font-size: 20px;
}

.detail-houseinfor i {
  margin-right: 8px;
  color: rgb(225, 104, 124);
  font-size: 25px;
}

.detail-hostinfor i {
  margin-right: 8px;
  color: rgb(0, 98, 255);
  font-size: 25px;
}

.note-title i {
  margin-right: 8px;
  color: rgb(226, 98, 120);
  font-size: 25px;
}

.infor .title {
  font-size: 25px;
  font-weight: 600;
}

.detail-hostinfor img {
  width: 150px;
  height: 100px;
  border-radius: 50%;
}

.capacity {
  display: flex;
  justify-content: space-around;
}

.large, .medium, .smalll {
  flex-basis: 30%;
}

.capacity-number {
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.capacity-number-large {
  background-color: #0F88A1;
}

.capacity-number-medium {
  background-color: #1EDB4C;
}

.capacity-number-small {
  background-color: #FFAB1D;
}

/* Hết */

/* Login */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #979baa, #1f1fb3, #056dbb, #00d4ff);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #979baa, #1f1fb3, #056dbb, #00d4ff);
}


@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (max-width: 992px) {
  .header-dropdown {
    margin-left: 0px;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

/* Các class css của Content.js */

.create {
  padding: 8px;
  background-color: #E8F8EC;
  border-color: transparent;
  margin-bottom: 12px;
  border-radius: 8px;
}
.create:hover {
    background-color: rgb(199, 191, 191);
    color: white;
}

.btn-create {
  background-color: rgb(10, 228, 10);
  color: white;
  padding: 8px;
  border-radius: 8px;
  border-color: transparent;
}

.btn-cancel {
  cursor: pointer;
}

.modal-house {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-house.open {
  display: flex;
}

.modal-container-house {
  width: 650px;
  min-height: 200px;
  background-color: #fff;
  position: relative;
  max-width: calc(100% - 32px);
  animation: modalFadeIn ease 0.5s;
  background-color: #fff;
  padding: 12px 20px;
}

.modal-house-title {
  border-bottom: 1px solid  rgb(186, 183, 183);
  margin-bottom: 12px;
  width: 100%;
}

.input {
  margin-bottom: 8px;
}

.modal-container-house input {
  width: 100%;
  border: 1px solid rgb(210, 205, 205);
  padding: 4px 0;
}

.input-image {
  margin-bottom: 14px;
}

.select {
  display: flex;
  justify-content: space-between;
}

/* Hết */

/* Các class css của EditPost.js */

.edit-post-image, .edit-post-infor {
  margin-bottom: 20px;
}

.edit-post img {
  width: 100%;
  height: 400px;
  min-height: 200px;
  margin: 4px 0 20px 0;
}

.edit-post-infor .form-input {
  margin: 10px 0;
}

.edit-post-infor label {
  margin-bottom:  4px;
  font-weight: 500;
}

.edit-post-infor textarea {
  margin: 4px 0;
}

/* Các class css của Profile.js */
.profile {
  margin-bottom: 50px;
}

.profile-items {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  margin: 20px 0;
}

.profile-items-title {
  flex-basis: 20%;
}

.profile-items-img, .profile-items-password {
  display: flex;
}

.profile-items-img {
  margin: 20px 0  ;
}

.profile-items-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* Hết */

/* Các class css của Profile.js */

.paginate {
  /* width: 20%; */
  margin: 0 auto;
}

.btn-paginate, .btn-paginate-change {
  margin: 0 8px;
  padding: 4px 10px;
  border-color: transparent;
}

.btn-paginate:hover, .btn-paginate-change:hover {
  background-color: rgb(173, 168, 168);
}

.btn-paginate.active-paginate {
  background-color: rgb(92, 124, 227);
  color: white;
}

/* Hết */

/* Các class css của Footer.js */
.footer {
    padding: 0;
    background-color: rgb(92, 124, 227);
    color: white !important;
}
/* Hết */